<ion-view view-title="Geopera">
	      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchText">
      </label>
      <div class="buttons" style="margin-left: 10px">
        <button class="button" ng-click="doSearch()">Search</button>
      </div>

	<ion-content>
	<ion-list>
		<ion-item class="item-remove-animate"  ng-repeat="story in stories" ng-click="openLink(story.link)">
		<h2>{{story.title}}</h2>
		<p>
			<span am-time-ago="story.date"></span> - {{story.city}}
		</p>
		<a class="button button-icon icon ion-android-favorite-outline"></a>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll distance="1%" on-infinite="loadOlderStories()"> </ion-infinite-scroll>
	</ion-content>
</ion-view>